:root {
  /* COLORS */
  --Yellow: hsl(47, 88%, 63%);
  --White: hsl(0, 0%, 100%);
  --Gray-500: hsl(0, 0%, 42%);
  --Gray-950: hsl(0, 0%, 7%);

  /* FONT */
  --ff-figtree: "Figtree", sans-serif;

  --fw-500: 500;
  --fw-800: 800;

  --fs-p: 1rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Yellow);
}

.card-container {
  display: flex;
  margin: 50px auto;
  padding: 24px;
  flex-direction: column;
  width: 384px;
  height: 522px;
  background-color: var(--White);
  border-radius: 20px;
  border: 1px solid #000;
  box-shadow: 10px 10px;
  font-family: var(--ff-figtree)
}

.card-img img {
  width: 336px;
  height: 200px;
  border-radius: 10px;™
  margin-bottom: 20px;
}

.yellow-bg {
  margin-bottom: 20px;
}

.yellow-bg h5 {
  display: inline;
  padding: 4px 12px;
  background-color: var(--Yellow);
  border-radius: 4px;
}

.card-date {
  margin-bottom: 20px;
}

.card-date p {
  font-size: 0.8rem;
  font-weight: var(--fw-500);
}

.card-header {
  margin-bottom: 20px;
}

.card-header h2 {
  color: var(--Gray-950);
  font-weight: var(--fw-800)
}

.card-paragraph p {
  margin-bottom: 30px;
  color: var(--Gray-500)
}

.card-author {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 32px;
  width: auto;
}

.card-author img {
  width: 32px;
  height: 32px;
}

.card-author p {
  font-size: 16px;
  font-weight: var(--fw-800);
}



.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
